
// Slider

.slide {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: inherit;
    max-width: 1600px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slide-cent {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    height: inherit;
}

.cont {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 2;
}

.card-slider {
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9), inset 0px 0px 20px 1px rgba(0,0,0,0.2);
    height: 492px;
    position: relative;
    overflow: hidden;
    width: 320px;

    transition: transform 0.4s cubic-bezier(0.02, 0.39, 0.6, 0.76), box-shadow 0.3s ease 0.1s;

    .cs-wrapper {
        height: inherit;
        overflow: hidden;
        width: 100%;
        z-index: 2;
            
        .title-recipe {
            position: relative;
            height: 192px;
            background-position: center;
            background-size: cover;

            h3 {
                overflow: hidden;
                white-space: nowrap;
                padding: 14px;
                color: $primary;
                font-family: 'Sacramento', cursive;
                font-size: 36px;
                letter-spacing: 0.5px;
                line-height: 38px;
                text-overflow: ellipsis;
                text-shadow: 1px 1px 3px black;
            }

            .diets-stars {
                display: flex;
                justify-content: flex-end;
                bottom: 0;
                padding: 6px 0px;
                position: absolute;
                width: 100%;
                z-index: 3;

                img {
                    cursor: pointer;
                    width: 35px;
                    margin-right: 6px;
                }
            }
        }

        .para-cont {
            background-image: url(../../assets/eggs.png), url(../../assets/flour2.png), url(../../assets/flour.png);
            background-color: black;
            background-position: -5% 118%,-3% 155%, 15% -105%;
            background-repeat: no-repeat;
            height: 300px;
            position: relative;
            padding: 10px 16px;
            overflow: hidden;
            z-index: 2;

            .very-healthy {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 12px;
                width: 50px;
                z-index: 3;
            }

            // .source-name {
            //     font-family: 'Courgette', cursive;
            //     position: absolute;
            //     bottom: 0;
            //     right: 0;
            //     display: block;
            //     font-size: 24px;
            //     opacity: 0.9;
            //     padding-right: 17px;
            //     text-align: right;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     white-space: nowrap;
            //     width: 60%;
            //     z-index: 2;
            // }

            .line-info-recipe {
                color: $primary;
                display: flex;
                align-items: flex-start;
                padding: 5px 0px;
    
                > div {
                    height: 100%;
                }
                
                img {
                    margin: 2px 13px 0 0;
                    width: 20px;
                }
    
                span {
                    display: block;
                    font-family: 'Courgette', cursive;
                    font-size: 18px;
                    overflow: hidden;
                    max-height: 96px;
                }
    
                .info-recipe-e {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            
            .full-recipe {
                cursor: pointer;
                color: rgb(255, 177, 0);
                margin: -2px 0 0 33px;
                display: block;
                font-size: 14px;

                &:hover {
                    color: rgb(255, 102, 0);
                }
            }
        }
        
        .close {
            cursor: pointer;
            display: none;
            margin: 11px 12px 0 0;
            opacity: 0.5;
            padding: 0 0 16px 16px;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            z-index: 2;
            -webkit-filter: invert(1);
                    filter: invert(1);

            &:hover {
                opacity: 1;
            }
        }

        .divider-line {
            position: absolute;
            top: 185px;
            left: 0;
            width: 100%;
            z-index: 2;
        }
    }

    .shadow-card {
        height: 572px;
        left: 0;
        position: absolute;
        top: -40px;
        width: 100%;
        z-index: 1;

        transition: box-shadow 0.3s ease 0.1s;
    }

}

.btnld, .btnrd {
    cursor: pointer;
    position: absolute;
    top: calc(50vh - 50px);
    width: 100px;
    z-index: 999;

    transition: opacity 0.3s ease;
}

.btnld {
    left: 30px;
    transform: rotate(-0.25turn) translate(90px, -140px);

    -webkit-animation: passsliderl 0.3s 0.1s linear 1 forwards;

            animation: passsliderl 0.3s 0.1s linear 1 forwards;

}

.btnrd {
    right: 30px;
    transform: rotate(0.25turn) translate(-90px, -140px);

    -webkit-animation: passsliderr 0.3s 0.1s linear 1 forwards;

            animation: passsliderr 0.3s 0.1s linear 1 forwards;
}

.btnld:active, .btnrd:active {
    transform: scale(0.9)!important;

    transition: transform 0.1s linear;
}

.btnld:hover, .btnrd:hover {
    opacity: 0.6!important;
}

.background-slider {
    background-size: cover;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    transition: background-image 2s cubic-bezier(0.04, 0.63, 0.35, 0.97);
}