
// Slider

.slide {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: inherit;
    max-width: 1600px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slide-cent {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    height: inherit;
}

.cont {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 2;
}

.card-slider {
    border-radius: 18px;
    height: 492px;
    position: relative;
    overflow: hidden;
    width: 320px;

    .cs-wrapper {
        height: inherit;
        overflow: hidden;
        width: 100%;
        z-index: 3;
            
        .title-recipe {
            position: relative;
            height: 192px;
            background-position: center;
            background-size: 100%;
            z-index: 3;
            overflow: hidden;

            transition: background-size 1.6s ease;

            h3 {
                position: relative;
                overflow: hidden;
                white-space: nowrap;
                padding: 14px;
                color: $primary;
                font-family: 'Sacramento', cursive;
                font-size: 36px;
                letter-spacing: 0.5px;
                line-height: 38px;
                text-overflow: ellipsis;
                text-shadow: 1px 1px 3px black;
                z-index: 5;
            }

            .diets-stars {
                display: flex;
                justify-content: flex-end;
                bottom: 0;
                padding: 6px 0px;
                position: absolute;
                width: 100%;
                z-index: 5;

                img {
                    width: 35px;
                    margin-right: 8px;
                }
            }

            .close {
                cursor: pointer;
                display: none;
                margin: 8px 9px 0 0;
                opacity: 0.5;
                padding: 0 0 16px 16px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                z-index: 5;
                -webkit-filter: invert(1);
                        filter: invert(1);

                transition: z-index 0.5s ease;
    
                &:hover {
                    opacity: 1;
                }
            }

            .diet-slide-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                height: inherit;
                width: 100%;
                z-index: 4;

                .diet-selected {
                    font-family: 'Courgette', cursive;
                    display: block;
                    background-color: black;
                    color: $primary;
                    position: absolute;
                    padding: 10px 20px;
                    height: 43px;
                    top: 58px;
                    left: 0;
                    font-size: 20px;
                    width: 100%;
                }

                .diet-slide-cont {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 45px;
                    overflow: hidden;
                    width: 100%;
                    z-index: 2;
                    margin-top: 57px;

                    transition: left 0.2s ease;

                    .diet-slide {
                        background-position: center;
                        background-size: 100%;
                        height: 192px;
                        width: 100%;
                        z-index: 2;
                        margin-top: -57px;
        
                        transition: background-size 1.6s ease;
                    }
                }

                .healthy-sign {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: inherit;
                    z-index: 9;

                    .hs-gif {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%;
                        height: inherit;

                        z-index: 4;

                        transition: opacity 0.5s ease;
                    }

                    .hs-title {
                        z-index: 4;
                        margin-top: 15px;
                        width: 0%;

                        transition: width 0.5s ease;
                    }
                }
            }
        }

        .para-cont {
            background-image: url(../../assets/eggs.png), url(../../assets/flour2.png), url(../../assets/flour.png);
            background-color: black;
            background-position: -5% 118%,-3% 155%, 15% -105%;
            background-repeat: no-repeat;
            height: 300px;
            position: relative;
            padding: 10px 16px;
            overflow: hidden;
            z-index: 2;

            .very-healthy {
                position: absolute;
                top: 10px;
                right: 12px;
                width: 50px;
                z-index: 3;
            }

            .line-info-recipe {
                color: $primary;
                display: flex;
                align-items: flex-start;
                padding: 5px 0px;
    
                > div {
                    height: 100%;
                }
                
                img {
                    margin: 2px 13px 0 0;
                    width: 20px;
                }
    
                span {
                    display: block;
                    font-family: 'Courgette', cursive;
                    font-size: 18px;
                    overflow: hidden;
                    max-height: 93px;

                    &::first-letter{
                        text-transform: capitalize;
                    }
                }
    
                .info-recipe-e {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            
            .full-recipe {                
                margin: 3px 0 0 33px;
                display: block;
                font-size: 14px;

                a {
                    color: rgb(255, 177, 0);
                    text-decoration: none;

                    transition: all 0.3s ease;

                    &:hover {
                        color: rgb(255, 102, 0);
                    }
                }
            }
        }

        .divider-line {
            position: absolute;
            top: 185px;
            left: 0;
            width: 100%;
            z-index: 2;
        }
    }

    .shadow-card {
        height: 572px;
        left: 0;
        position: absolute;
        top: -40px;
        width: 100%;
    }

    .sparkles-card {
        background-image: url(./../../assets/sparkles.gif);
        background-size: cover;
        height: inherit;
        left: 0;
        position: absolute;
        opacity: 0.9;
        top: 0;
        width: 100%;

        transition: opacity 2s ease 1.2s;
    }

}

.btnld, .btnrd {
    cursor: pointer;
    position: absolute;
    top: calc(50vh - 50px);
    width: 136px;
    z-index: 999;

    transition: transform 0.4s linear, opacity 0.3s ease;
}

.btnld {
    left: 60px;
}

.btnrd {
    right: 60px;
}

.btnld:active, .btnrd:active {
    transform: scale(0.9)!important;

    transition: transform 0.1s linear;
}

.btnld:hover, .btnrd:hover {
    opacity: 0.6!important;
}

.background-slider {
    background-size: cover;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    transition: background-image 2s cubic-bezier(0.04, 0.63, 0.35, 0.97);
}

// Hover effects

.tr-hover:hover {
    background-size: 110%!important;

    .tr-hover2 {
        background-size: 110%!important;
    }
}

// Toggle classes

.passl-open {
    transform: rotate(-0.25turn) translate(90px, -200px);
}

.passr-open {
    transform: rotate(0.25turn) translate(-90px, -200px);
}

        // --- Card-slider ----//

.box-shadow1 {
    box-shadow: 10px 10px 18px 10px rgba(0,0,0,0.8), inset 0px 0px 20px 1px rgba(0,0,0,0.2);
}

.box-shadow2 {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.box-shadow3 {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.box-shadow4 {
    box-shadow: inset 20px 0px 29px 20px rgba(0,0,0,0.7);
}

.cursorp {
    cursor: pointer;
}

.transition-cards {
    transition: transform $tTime cubic-bezier(0.02, 0.39, 0.6, 0.76), box-shadow ($tTime * 0.75) ease ($tTime * 0.25)
}

.transition-cardc {
    transition: transform $tTime cubic-bezier(0.02, 0.39, 0.6, 0.76), z-index 0s linear $tTime, box-shadow ($tTime * 0.75) ease ($tTime * 0.25)
}

.transition-shadowcards {
    transition: box-shadow ($tTime * 0.75) ease ($tTime * 0.25)
}

.transition-shadowcardc {
    transition: box-shadow $tTime ease;
}

.diet-slide-show {
    left: 80px!important;
}

.hs-gif-opacity {
    opacity: 0.8!important;
}

.hs-title-width {
    width: 74%!important;
}

.sparkles-card-opacity {
    opacity: 0!important;
}