#wrapper {
    height: 100vh;
    max-width: 1600px;
    min-height: 647px;
    // min-width: 1351px; ////////////////// ojo
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 1600px;
}

.container {
    position: absolute;
    top: -100vh;
    left: 0;
    min-height: 647px;
    width: 100%;
    // min-width: 1351px; ////////////////// ojo
}

.result-side {
    background-image: url(./../../assets/bg_results.jpg);
    background-size: 123%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: inherit;
    width: 100%;
    z-index: 1;

    .pot-cover-cont {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: inherit;
        overflow: hidden;
        z-index: 3;

        transition: transform 3125ms ease;

        .pot-cover {
            width: 50%;

            transition: transform 4375ms ease;
        }
    }

    .gb-cont {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: -176px;

        transition: right 0.4s ease;

        .chopping-plate {
            height: 150px;
            width: 300px;
            -webkit-filter: drop-shadow(5px 9px 2px rgba(0, 0, 0, 0.863));
                    filter: drop-shadow(5px 9px 2px rgba(0, 0, 0, 0.863));
        }
    
        .go-back-cont {
            position: absolute;
            top: 42px;
            right: -176px;
            
            transition: right 0.3s ease 0.1s;

            .go-back {
                width: 176px;
                -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.663));
                        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.663));
            }
        }
    }
}

.set-side {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: inherit;
    position: relative;
    width: 100%;
    z-index: 2;
}

.set-cont {
    position: absolute;
    height: inherit;
    min-height: inherit;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.set-info {
    color: $primary;
    padding: 20px 40px 0 60px;
    width: 806px;

    h2 {
        margin-bottom: 16px;
        text-align: center;
    }

    form {
        width: 100%;
    }
}

.principal-p {
    display: block;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 32px;
    text-align: center;
}

.black-transition-div {
    background-color: rgba(0, 0, 0, 0.98);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100%;
    z-index: 999999;
}

// Adding Animations

.animate-container-results {
    -webkit-animation: showResults 1s cubic-bezier(0.6, -0.28, 0.74, 0.05) 1;
            animation: showResults 1s cubic-bezier(0.6, -0.28, 0.74, 0.05) 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.animate-container-goback {
    -webkit-animation: goBack 1.5s linear 1;
            animation: goBack 1.5s linear 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

// Toogle classes

.remove-pot-top {
    transform: rotate(1turn);
}

.remove-pt-cont {
    transform: translate(100%, 0);
}

.show-choppingt {
    right: -14px!important;
}

.show-goback {
    right: 17px!important;
}

.show-btd {
    display: block!important;
    -webkit-animation: btd 1.5s linear 1;
            animation: btd 1.5s linear 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}