#wrapper {
    display: flex;
    height: 100vh;
    max-width: 1600px;
    min-height: 647px;
    min-width: 1351px;
    position: relative;
    width: 100%;
    max-width: 1600px;
}

.set-side {
    box-sizing: border-box;
    height: inherit;
    min-height: inherit;
    padding-left: 20px;
    width: 30%;
    z-index: 1;
}

.result-side {
    background-image: url(./../../assets/bg_results.jpg);
    background-size: 183%;
    background-position: center;
    background-repeat: no-repeat;
    height: inherit;
    min-height: inherit;
    width: 70%;
    z-index: 1;
}

.set-side {
    background-image: url(./../../assets/paper.jpg);
    background-position: 50% 0%;
    background-size: 160%;
    background-repeat: no-repeat;
}