// container

@-webkit-keyframes showResults {
    0%   {top: -100vh;}
    8%   {top: -102vh;}
    100% {top: 0;}
}

@keyframes showResults {
    0%   {top: -100vh;}
    8%   {top: -102vh;}
    100% {top: 0;}
}

@-webkit-keyframes goBack {
    0%   {top: 0;}
    46%  {top: 0;}
    54%  {top: -100vh}
    100% {top: -100vh;}
}

@keyframes goBack {
    0%   {top: 0;}
    49%  {top: 0;}
    51%  {top: -100vh}
    100% {top: -100vh;}
}

@-webkit-keyframes btd {
    0%   {opacity: 0;}
    40%  {opacity: 1;}
    60%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes btd {
    0%   {opacity: 0;}
    40%  {opacity: 1;}
    60%  {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes ldlishow {
    0%   {margin-left: 50vw;}
    100% {margin-left: 0;}
}

@keyframes ldlishow {
    0%   {margin-left: 50vw;}
    100% {margin-left: 0;}
}

@-webkit-keyframes gbmove {
    0%   {transform: rotate(0deg);}
    92%   {transform: rotate(13deg);}
    94%   {transform: rotate(-13deg);}
    96%   {transform: rotate(13deg);}
    98%   {transform: rotate(-13deg);}
    100%   {transform: rotate(0deg);}
}

@keyframes gbmove {
    0%   {transform: rotate(0deg);}
    95%   {transform: rotate(0deg);}
    96%   {transform: rotate(13deg);}
    97%   {transform: rotate(-13deg);}
    98%   {transform: rotate(13deg);}
    99%   {transform: rotate(-13deg);}
    100%   {transform: rotate(0deg);}
}