// container

@-webkit-keyframes showResults {
    0%   {top: -100vh;}
    8%   {top: -102vh;}
    100% {top: 0;}
}

@keyframes showResults {
    0%   {top: -100vh;}
    8%   {top: -102vh;}
    100% {top: 0;}
}