* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgba(0, 0, 0, 0.85);
}

// toggle

.show {
    display: block!important;
}

.hide {
    display: none!important;
}

.oc-show {
    top: -3px!important;
}

.op-opacity {
    opacity: 0.9!important;
}


// Inputs Styles

.scalator {
    display: block;
    height: 1px;
    margin: 0 auto 24px auto;
    width: 98%;
    -webkit-appearance: none;
}

.scalator::-webkit-slider-runnable-track {
    background: #ffffff;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 1px;
    width: 100%;
}

.scalator::-moz-range-track {
    background: #ffffff;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    height: 1px;
    width: 100%;
}

.scalator::-webkit-slider-thumb {
    background: white;
    border: 0px solid #ffffff;
    border-radius: 22px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 21px;
    margin-top: -10px;
    width: 9px;
    -webkit-appearance: none;
}

.scalator::-moz-range-thumb {
    cursor: pointer;
    border: 0px solid #ffffff;
    border-radius: 22px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 21px;
    margin-top: -10px;
    width: 9px;
    background: white;
    -webkit-appearance: none;
}

.scalator::-moz-focus-outer {
    border: 0;
}

.set-card, .set-bgseconds {
    background: rgba(0,0,0,.15);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    color: $primary;
    font-size: 16px;
    height: 23px;
    padding-left: 7px;
}

.set-card {
    width: 7%;
}

.set-bgseconds {
    width: 13%;
}

input:focus, button:focus {
    outline: none;
}

// Removing arrows from input type number

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
} 